# Ignore node_modules in both frontend and backend
oauth2/node_modules/
oauth2_backend/node_modules/

# Ignore .env files
.env
oauth2/.env
backend/.env

oauth2/.DS_Store
oauth2_backend/.DS_Store
.DS_Store